<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <!--client가 입력한 데이터를 flask app인 app.04 상에서 저장해서 
        현 html 파일로 데이터 전송

    html 상에서 출력을 담당하는 문법으로 데이터 출력

    템플릿 출력 tag : 더블중괄호(주석안에 있어도 인식이 되므로 주석에 넣으면 안됨!!)
    html 주석안에는 타언어의 tag를 넣어서는 안됨

    idencore=값 설정값 사용
    userinfo={"name":"재석", "age":30}
    -->
    -{{idencore}}-{{userinfo.name}}-

</body>
</html>